{{>adminheader loginuser=loginuser  patientdata=patientdata  docData=docData admin=admin}}
{{>adminsidebaar loginuser=loginuser}}
        <div class="main-panel">
        
            {{#each userData}}
         
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h4 class="page-title">Change Password</h4>
                         {{!-- {{#each userData}} --}}
                        <form action="/adminchangepassword/{{this.id}}" class="form-signin" method="POST">


                         {{#each errors}} 
                        <div class="alert alert-danger" id="alert" role="alert">
                             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{text}}
                        </div>
                        {{/each}}
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Old password</label>
                                        <input type="password" name="oldpassword" value="{{this.password}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>New password</label>
                                        <input type="password" name="newpassword" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Update Admin</button>
                        </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            {{/each}}
           
        </div>
    </div>
   {{>adminfooter}}