<div class="sidebar-overlay" data-reff=""></div>
    <script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.slimscroll.js"></script>
    <script src="../js/Chart.bundle.js"></script>
     <script src="../js/select2.min.js"></script>
    <script src="../js/chart.js"></script>
       <script src="../js/moment.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.min.js"></script>
    <script src="../js/app.js"></script>
     <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/dataTables.bootstrap4.min.js"></script>
  

 
 

</body>



</html>

