<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Vs Doc</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" type="text/css" href="../css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="./index" class="logo">
					<img src="../img/images.jpg" width="35" height="35" alt=""> <span>Vs Doc</span>
				</a>
			</div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
                    {{!-- {{#each loginuser}}
                         {{#if isAdmin}}
                         <h2>Admin</h2>
                          {{/if}}

                           {{#if isAdmin != true}}
                         <h2>Doctor</h2>
                          {{/if}}
                        
                    {{/each}} --}}

                        {{!-- {{#if loginuser.isAdmin}}
                            <h2>Admin</h2>
                        {{else}}
                            <h2>Doctor</h2>
                        {{/if}} --}}

{{#each loginuser}}
    {{#if isAdmin}}
        <h2>Admin</h2>
    {{else}}
        <h2>Doctor</h2>
    {{/if}}
    
{{/each}}

</div>


      